data/universal.singlecopy0.9.fasta
logs/*
orthodb_groups_fasta/
cluster_alignments/
lib/paml_bin
lib/paml4.9a/
lib/mafft_bin
lib/mafft-7.273-without-extensions/
share/
paml_configs/
paml_trees/
nh_groups_fasta/
mc.paml
siterates.txt
evolver.out
evolved_seqs/
cluster_alignments_nh/
cluster_alignments_homology/
lib/seq-gen_bin
lib/Seq-Gen.v1.3.3/
lib/Aliscore_v.2.0/
lib/aliscore_bin
